<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/index.css">

    <title>Clase 8</title>
</head>

<body>
    <div class="grid-container">
        <div class="box logo">
            <img class="img-logo" src="../img/duke.png" alt="Duke">
        </div>
        <div class="box header">
            <div class="header-content">
                <h1>Contactame</h1>
                <div class="logos">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#000000">
                            <path
                                d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
                        </svg>
                    </a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#000000">
                            <path
                                d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                        </svg>
                    </a>
                    <!-- <img src="" alt="img3"> -->
                </div>
            </div>
        </div>
        <div class="box nav">
            <nav>
                <ul>
                    <li class="nav-item">
                        <a href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="./how.html">¿Quines Somos?</a>
                    </li>
                    <li class="nav-item">
                        <a href="./products.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a href="./contact.htm">Contactame</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="box main">
            <form action="#" class="form-contact">
                <div class="form-input">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name">
                </div>

                <div class="form-input">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>

                <div>
                    <button>Enviar</button>
                </div>
            </form>
        </div>
        <div class="box footer">
            <div class="social-networks">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px">
                    <path
                        d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z" />
                </svg>
            </div>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate repellendus perferendis perspiciatis
                inventore deleniti, dicta quos unde.</p>
        </div>
    </div>
</body>

</html>